################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Todo.Api/bin/Debug/net6.0
/Todo.Api/obj
/Todo.Api/Todo.Api.csproj.user
/Todo.Grpc/bin/Debug/net6.0
/Todo.Grpc/obj
